<div class="row justify-content-md-center">
  <div class="col-md-10">
    <%= form_for(@tier) do |f| %>
      <%= render 'layouts/error_messages' %>
      <div class="field">
        <%= f.label :label %><br>
        <%= f.text_field :label, :maxlength => 40 %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, :maxlength => 255 %>
      </div>
      <div class="field date">
        <%= f.label :available %>
        <%= f.datetime_select :available %> UTC
      </div>
      <div class="field">
        <%= f.label :subject %>
        <%= f.text_field :subject%>
      </div>
      <div class="field">
        <%= f.label :email_text %>
        <%= f.text_area :email_text %>
      </div>
      <div class="field">
        <%= f.label :email_html %>
        <%= f.text_area :email_html, :class => 'tinymce' %>
      </div>
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<%= tinymce %>
