<div class="row mt-3 justify-content-md-center">
  <div class="col-md-10">
    <%= form_for(@instant) do |f| %>
      <%= render 'layouts/error_messages' %>
      <div class="field">
        <%= f.label :name, 'Fixed Name'%><br>
        <%= f.text_field :name, :maxlength => 255, :readonly => true %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, :maxlength => 255 %>
      </div>
        <div class="field date">
          <%= f.label :instant %>
          <%= f.datetime_select :instant %>
        </div>
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>