<% @lodgings.each do |l| %>
  <div class="row lodging">
    <div class="col-xs-8 col-sm-6 pb-3">
      <h4><strong>
        <%= "#{l.label}" %>
      </strong></h4>
      <%= l.description %>
    </div>
    <div class="hidden-xs col-sm-3">
      <ul>
        <li>Occupancy: <%= l.occupancy %></li>
        <li>A/C: <%= l.air_conditioning.eql?(true) ? 'yes' : 'no' %></li>
        <li>Bathroom: <%= l.bathroom.eql?(true) ? 'yes' : 'no' %></li>
        <li>Kitchen: <%= l.kitchen.eql?(true) ? 'yes' : 'no' %></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-3">
      <% if (l.hold) %>
        <div class="text-right accommodationhighlight">
          <strong>reserved by management</strong>
        </div>
      <% end %>
      <% quantity_available = quantity_available?(l) %>
      <% if quantity_available > 0 && allowed_to_book? %>
        <div class="text-right accommodationhighlight">
          <div class="book">
            <div class="price"><%= number_to_currency l.price %></div>
            <div class="quantity hidden-xs"><%= quantity_available %> available</div>
            <% if can_book(l) %>
              <%= button_to 'book!', {:controller => 'reservations', :action => (quantity_available > 1 || is_admin? ? 'quantity' : 'confirmation'), :accommodation_id => l.id}, :method => :post, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if l.reservation.exists? %>
        <div class="accommodationhighlight">
          <div class="reservation">
            <strong>Already in this room</strong>
            <ul class="indent">
              <% l.reservation.each do |r| %>
                <li>
                  <% if r.user.privacy && r.user.id != current_user.id %>
                    <%= '[privacy requested]' %></li>
                  <% else %>
                    <%= r.user.name %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

  </div> <!-- end loging row -->

<% end %>
<% if @lodgings.blank? %>
  You better pack a tent!
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= paginate @lodgings, remote: true %>
  </div>
</div>
