<% provide(:title, 'Register') %>

<% if instant_passed(Instant::INSTANT_REGISTRATIONS_CLOSED) %>
  <div class="row pt-3 mx-auto">
    <div class="status alert-danger col-8 offset-2">
      Registration is now closed. Please contact the cabins crew if you have questions - <a href="mailto:cabins@fnf.org">cabins@fnf.org</a>
    </div>
  </div> <!-- end status row -->
<% else %>
  <div class="post mt-3">
    <h3>FnF <%= Time.new.year %> Cabin Registration</h3>
    Welcome to the Friends and Family Accommodation Registration System (a.k.a. FnF Cabins and Lodging)! We are currently registering
    people who are interested in renting a room in a cabin for this year's FnF Campout. Once you register, we will verify
    that you are eligible and place you into a signup tier, based on your contributions to the event. <%= link_to 'Learn about the
    full signup process', home_path %>.
    <h4 class="mt-4">Do you have to re-register if you already have a cabin sign-up account from last year?</h4>
    <strong>YES!</strong>
  </div>

  <div class="post"><h3>Are you Eligible for a Cabin?</h3>
    <ol>
      <li>Do you already have FnF Tickets?</li>
      <li>Are you: an attendee with medical need, a Coordinator/planner working this year’s campout, and/or an attendee
        signed up on the staffing sheet?
      </li>
    </ol>
    <div>
      If the answer is YES to these questions, you're eligible! Note: in some years the ticket process is not
      complete or the staffing sheet is not live by the time user registration opens. If that's the case, and you have a
      solid belief / intention to meet the above criteria, go ahead and create a user account. We’ll confirm your status with
      whatever information is available.
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4>Please fill out the form below:</h4>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <%= form_for(@user) do |f| %>
        <%= render 'layouts/error_messages' %>
        <div class="field">
          <%= f.label :name, 'Full Name' %>
          <%= f.text_field :name, class: 'form control' %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, 'Password Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form control' %>
        </div>

        <div class="field">
          <%= f.label :phone, 'Phone Number' %>
          <%= f.text_field :phone, class: 'form control' %>
        </div>

        <div class="field mt-4">
          <%= f.label :role, 'Tier you are requesting for this event' %>
        </div>
        <div class="field">
          <%= f.radio_button :role, 'medical', class: 'form control' %>
          <%= f.label :role, 'Medical:', value: 'what', class: 'same-line' %>
          <div class="description">
            Reasonable medical need for a room. This includes medical conditions, injuries,
            disabilities and late-term pregnant/post-partum parents. This tier is decided on a case-by-case
            basis, at our discretion.
          </div>
        </div>
        <div class="field">
          <%= f.radio_button :role, 'planner', class: 'form control' %>
          <%= f.label :role, 'Coordinator/Key Volunteer:', value: 'qwer', class: 'same-line' %>
          <div class="description">
            You are on the FnF Planners email list and have a significant role in this year’s campout.  If you're 
            not sure that's you, give us your details!  A good rule of thumb is if you are working more than 20
            hours before and during the event.
          </div>
        </div>
        <div class="field">
          <%= f.radio_button :role, 'volunteer', class: 'form control' %>
          <%= f.label :role, 'General Volunteer:', value: 'qwer', class: 'same-line' %>
          <div class="description">
            Are you on the planners list, but taking a light work year? Did you buy a ticket through a friend, and 
            you’re working a shift, but aren't one of the Planners /
            Coordinators? You can sign up for a cabin spot if you are working at least one volunteer shift! 
            Just make sure to let us know who bought your tickets /
            what committee you are volunteering with. (And be absolutely sure that you have a ticket - there are NO
            refunds on cabins!)
          </div>
        </div>

        <div class="field mt-4">
          <%= f.label :notes, 'This is the comments box!'  %>
          <div class="description">
            <b>If requesting Medical tier:</b> use the comments box to tell us why your condition requires a room.  We respect your privacy and ask that you provide only what is needed to determine your tier.  If your condition requires specific amenities or a specific bed or cabin, tell us this too. We may follow up with you for more information within reason.  All info provided will be kept confidential.</p>
            <i>NOTE: We do pre-assign some rooms before general medical reservations open, if there is a medical need for an amenity that not a lot of rooms have.</i></p>
            Examples: "chronic illness which requires easy access to restroom facilities" or "recent surgery requires no stairs and minimal walking".</p>
            </p>
            <b>If requesting Coordinator / Key Volunteer tier:</b> use the comments box to tell us your role at this year's campout, how many hours/shifts you are working, or any other info you think is relevant.</p>
            Example: "Cabins Coordinator, and signed up for 1 Site Coordinator shift and 1 kitchen shift."</p>
            </p>
            <b>If requesting General Volunteer tier:</b> use the comments box to tell us who bought your ticket (even if it was you) and how you're volunteering this year.
          </div>
          <%= f.text_area :notes, class: 'form control' %>
        </div>

        <div class="field">
          <%= f.submit "Register", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

