<%= render 'layouts/status' %>

<% if !@user.reservations.empty? %>
  <h4 class="mt-4">Current reservation<%= (@user.reservations && @user.reservations.count) > 1 ? 's' : '' %></h4>
  <% @user.reservations.each do |r| %>
    <div class="row mb-4">
      <div class="col border rounded bg-white">
        <% if r.user %>
          <h4><%= r.user.name %></h4>
          <div class="row">
            <div class="col-3 offset-1">email:</div>
            <div class="col-8"><%= r.user.email %></div>
          </div>
          <div class="row">
            <div class="col-3 offset-1">phone:</div>
            <div class="col-8"><%= r.user.phone %></div>
          </div>
        <% end %>
        <h4><%= "#{r.accommodation.label}" %></h4>
        <div class="row">
          <div class="col-11 offset-1"><%= r.accommodation.description %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Occupancy:</div>
          <div class="col-8"><%= r.accommodation.occupancy %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Bathroom:</div>
          <div class="col-8"><%= r.accommodation.bathroom.eql?(true) ? 'yes' : 'no' %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Kitchen:</div>
          <div class="col-8"><%= r.accommodation.kitchen.eql?(true) ? 'yes' : 'no' %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Air Conditioner:</div>
          <div class="col-8"><%= r.accommodation.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <h4><%= number_to_currency r.price %></h4>
            <div class="book">
              <% if r.paid_date.nil? %>
                <p>Pay us all the money!</p>
                <p>Please include a note with your payment in the form of 'CABIN: xxxxx', where xxxxx is the
                  name of your cabin/room</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_s-xclick"/>
                  <!-- <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> --> <!-- TEST -->
                  <input type="hidden" name="business" value="ZJJPT64U2437J">
                  <input type="hidden" name="lc" value="US">
                  <input type="hidden" name="item_name" value="<%= r.accommodation.label %>">
                  <input type="hidden" name="item_number" value="SKU: <%= sku(r) %>">
                  <input type="hidden" name="amount" value="<%= r.price %>">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="button_subtype" value="services">
                  <input type="hidden" name="return" value="<%= user_path(current_user.id) %>">
                  <input type="hidden" name="cancel_return" value="<%= user_path(current_user.id) %>">
                  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
                </form>
              <% else %>
                You are all paid up!
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-2">
            <%= button_to 'Cancel Reservation', {:controller => 'reservations', :action => "cancel", :id => r.id, :prev => "/users/#{current_user.id}/reservations"}, data: {confirm: 'Are you sure you want to cancel? This will delete your reservation.'}, :method => :put, class: 'float-right btn btn-primary', :onclick => "buttonClicked = true;" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
