<%= render 'layouts/status' %>

<% if !@user.reservations.empty? %>
  <h4 class="mt-4">Current reservation<%= (@user.reservations && @user.reservations.count) > 1 ? 's' : '' %></h4>
  <% @user.reservations.each do |r| %>
    <div class="row mb-4">
      <div class="col border rounded bg-white">
        <% if r.user %>
          <h4><%= r.user.name %></h4>
          <div class="row">
            <div class="col-3 offset-1">email:</div>
            <div class="col-8"><%= r.user.email %></div>
          </div>
          <div class="row">
            <div class="col-3 offset-1">phone:</div>
            <div class="col-8"><%= r.user.phone %></div>
          </div>
        <% end %>
        <h4><%= "#{r.accommodation.label}" %></h4>
        <div class="row">
          <div class="col-11 offset-1"><%= r.accommodation.description %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Occupancy:</div>
          <div class="col-8"><%= r.accommodation.occupancy %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Bathroom:</div>
          <div class="col-8"><%= r.accommodation.bathroom.eql?(true) ? 'yes' : 'no' %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Kitchen:</div>
          <div class="col-8"><%= r.accommodation.kitchen.eql?(true) ? 'yes' : 'no' %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Air Conditioner:</div>
          <div class="col-8"><%= r.accommodation.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
        </div>

        <h4>Cost</h4>
        <div class="row">
          <div class="col-3 offset-1">Price:</div>
          <div class="col-8"><%= number_to_currency r.accommodation.price %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Quantity:</div>
          <div class="col-8"><%= r.quantity %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">Total:</div>
          <div class="col-8"><%= number_to_currency r.price %></div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="col-11 offset-1">
              <% if r.paid_date.nil? %>
                <p>Pay us all the money!</p>
                <h4 class="mt-4">Payment Option 1 - PayPal</h4>
                <p>Please include a note with your payment in the form of 'CABIN: xxxxx', where xxxxx is the
                  name of your cabin/room.</p>
                <p>Also, if someone other than you is paying for all or a portion of the room, please have them put your name in the payment note box.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_xclick"/>
                  <!-- <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> --> <!-- TEST -->
                  <input type="hidden" name="business" value="ZJJPT64U2437J">
                  <input type="hidden" name="lc" value="US">
                  <input type="hidden" name="item_name" value="<%= r.accommodation.label %>">
                  <input type="hidden" name="item_number" value="SKU: <%= sku(r) %>">
                  <input type="hidden" name="amount" value="<%= r.price %>">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="button_subtype" value="services">
                  <input type="hidden" name="no_note" value="1">
                  <input type="hidden" name="no_shipping" value="2">
                  <input type="hidden" name="rm" value="1">
                  <input type="hidden" name="return" value="<%= user_reservations_url(current_user.id) %>">
                  <input type="hidden" name="cancel_return" value="<%= user_reservations_url(current_user.id) %>">
                  <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form>
                <h4 class="mt-4">Payment Option 2 - Snail Check</h4>
                <p>Please make your payment of <%= number_to_currency @reservation.price %> payable to CFAEA by check or money order,
                  and send it to the following address:</p>
                <div class="border border-info rounded m-4 p-2">
                  CFAEA
                  c/o Michelle Maloy<br/>
                  1909 Lake Street Apt 5<br/>
                  San Francisco, CA 94121
                </div>
                <p>Please include a note on the check in the form of 'CABIN: xxxxx', where xxxxx is the name of your cabin/room</p>
              <% else %>
                You are all paid up!
              <% end %>
            </div>
          </div>
        </div>

        <h4>Note for the cabins team:</h4>
        <div class="row">
          <div class="col">
            <%= r.note %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <%= button_to 'Cancel Reservation', {:controller => 'reservations', :action => "cancel", :id => r.id, :prev => "/users/#{current_user.id}/reservations"}, data: {confirm: 'Are you sure you want to cancel? This will delete your reservation.'}, :method => :put, class: 'float-right btn btn-primary', :onclick => "buttonClicked = true;" %>
            <button type="button" class="btn btn-primary mr-2 float-right" data-toggle="modal" data-target="#note-<%= r.id %>">
              Edit Reservation Note
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col mb-2">
          </div>
        </div>
      </div>
    </div>

    <!-- note modal-->
    <div class="modal fade" id="note-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="noteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="noteModal">Add a note to your reservation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Please let us know anything needed about your reservation (you can edit this note later from your reservations page). Examples:
            <ul>
            <li>A paypal transaction ID (if you paid without clicking the button on this site)</li>
            <li>The name(s) on the PayPal transaction (if someone not you paid for the room or a portion of it)</li>
            <li>The name(s) of people or age(s) of children who are staying in the room with you</li>
            </ul>


            <%= form_for r, :url => reservation_note_path(r.id) do |f| %>
              <div class="row">
                <div class="col">
                  <div class="field">
                    <%= f.text_area :note, class: 'form control' %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Update Note", class: 'btn btn-primary mr-2' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
