<%= render 'layouts/status' %>

<h4 class="mt-4">User profile</h4>
<div class="row">
  <div class="col border rounded bg-light">
    <%= form_for(@user) do |f| %>
      <div class="row">
        <%= render 'layouts/error_messages' %>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :name %><br>
          <%= f.text_field :name, :maxlength => 60 %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :email %>
          <%= f.email_field :email, :maxlength => 255, class: '' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :phone, 'Phone Number' %>
          <%= f.text_field :phone, class: 'form control' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :role, 'Tier you are requesting for this event' %>
        </div>
      </div>

      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'medical', class: 'form control' %>
          <%= f.label :role, 'Medical', value: 'what', class: 'same-line' %>
          <div class="description">
            Reasonable medical need for a room. This includes medical conditions, injuries,
            disabilities and late-term pregnant/post-partum parents. This tier is decided on a case-by-case
            basis, at our discretion.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'planner', class: 'form control' %>
          <%= f.label :role, 'Coordinator/Key Volunteer', value: 'what', class: 'same-line' %>
          <div class="description">
            You are on the FnF Planners email list and have a significant role in this year’s campout.  If you're 
            not sure that's you, give us your details!  A good rule of thumb is if you are working more than 20
            hours before and during the event.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'volunteer', class: 'form control' %>
          <%= f.label :role, 'General Volunteer', value: 'qwer', class: 'same-line' %>
          <div class="description">
            Are you on the planners list, but taking a light work year? Did you buy a ticket through a friend, and 
            you’re working a shift, but aren't one of the Planners /
            Coordinators? You can sign up for a cabin spot if you are working at least one volunteer shift! 
            Just make sure to let us know who bought your tickets /
            what committee you are volunteering with. (And be absolutely sure that you have a ticket - there are NO
            refunds on cabins!)
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <%= f.label :notes, 'This is the comments box!'  %>
          <div class="description">
            <b>If requesting Medical tier:</b> use the comments box to tell us why your condition requires a room.  We respect your privacy and ask that you provide only what is needed to determine your tier.  If your condition requires specific amenities or a specific bed or cabin, tell us this too. We may follow up with you for more information within reason.  All info provided will be kept confidential.</p>
            <i>NOTE: We do pre-assign some rooms before general medical reservations open, if there is a medical need for an amenity that not a lot of rooms have.</i></p>
            Examples: "chronic illness which requires easy access to restroom facilities" or "recent surgery requires no stairs and minimal walking".</p>
            </p>
            <b>If requesting Coordinator / Key Volunteer tier:</b> use the comments box to tell us your role at this year's campout, how many hours/shifts you are working, or any other info you think is relevant.</p>
            Example: "Cabins Coordinator, and signed up for 1 Site Coordinator shift and 1 kitchen shift."</p>
            </p>
            <b>If requesting General Volunteer tier:</b> use the comments box to tell us who bought your ticket (even if it was you) and how you're volunteering this year.
          </div>
          <%= f.text_area :notes, class: 'form control' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <%= f.label :privacy, 'Please hide my name from my Friends & Family:', class: 'same-line' %>
          <%= f.check_box :privacy %>
          <p style="font-size: 85%">If you would like to publicly hide your name from any reservations that you may
            make,
            please check this box. If you are OK with registered Friends & Family to see your name, un-check this
            box.</p>
        </div>
      </div>

      <% if is_admin? %>
        <div class="row admin alert-warning">
          <h4>Administrators Only</h4>
          <div class="col-md-5">
            <div class="field">
              <%= f.label :tier_id, 'Admin Approved Tier' %>
              <%= f.collection_select :tier_id, Tier.all, :id, :full_label, :include_blank => true, class: 'form control' %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-2 mb-2">
          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
