<%= render 'layouts/status' %>

<% if @user.has_confirmed_reservations? %>
  <h4 class="mt-4">Current reservation<%= (@user.reservations && @user.reservations.count) > 1 ? 's' : '' %></h4>
  <% @user.reservations.each do |r| %>
    <% if !r.confirmed_time.nil? %>
      <% if r.user %>
        <h4><%= r.user.name %></h4>
        <div class="row">
          <div class="col-3 offset-1">email:</div>
          <div class="col-8"><%= r.user.email %></div>
        </div>
        <div class="row">
          <div class="col-3 offset-1">phone:</div>
          <div class="col-8"><%= r.user.phone %></div>
        </div>
      <% end %>
      <h4><%= "#{r.accommodation.label}" %></h4>
      <div class="row">
        <div class="col-11 offset-1"><%= r.accommodation.description %></div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">Occupancy:</div>
        <div class="col-8"><%= r.accommodation.occupancy %></div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">Bathroom:</div>
        <div class="col-8"><%= r.accommodation.bathroom.eql?(true) ? 'yes' : 'no' %></div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">Kitchen:</div>
        <div class="col-8"><%= r.accommodation.kitchen.eql?(true) ? 'yes' : 'no' %></div>
      </div>
      <div class="row">
        <div class="col-3 offset-1">Air Conditioner:</div>
        <div class="col-8"><%= r.accommodation.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
      </div>

      <div class="row mt-4">
        <div class="col border rounded border-danger">
          <h4><%= number_to_currency r.price %></h4>
          <div class="book">
            <% if r.paid_date.nil? %>
              <p>Pay us all the money!</p>
              <p>Please include a note with your payment in the form of 'CABIN: xxxxx', where xxxxx is the
                name of your cabin/room</p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick">
                <!-- <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> --> <!-- TEST -->
                <input type="hidden" name="business" value="ZJJPT64U2437J">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="<%= r.accommodation.label %>">
                <input type="hidden" name="item_number" value="SKU: <%= sku(r) %>">
                <input type="hidden" name="amount" value="<%= r.price %>">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="2">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="return" value="<%= user_path(current_user.id) %>">
                <input type="hidden" name="cancel_return" value="<%= user_path(current_user.id) %>">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              </form>
            <% else %>
              paid!
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<h4 class="mt-4">User profile</h4>
<%= form_for(@user) do |f| %>
  <div class="row">
    <%= render 'layouts/error_messages' %>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :maxlength => 60 %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <%= f.label :email %>
      <%= f.email_field :email, :maxlength => 255, class: '' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <%= f.label :phone, 'Phone Number' %>
      <%= f.text_field :phone, class: 'form control' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <%= f.label :role, 'Your tier for this event' %>
    </div>
  </div>

  <div class="row">
    <div class="col-11 offset-1">
      <%= f.radio_button :role, 'medical', class: 'form control' %>
      <%= f.label :role, 'Medical', value: 'what', class: 'same-line' %>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-1">
      <%= f.radio_button :role, 'planner', class: 'form control' %>
      <%= f.label :role, 'Coordinator/Planner', value: 'what', class: 'same-line' %>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-1">
      <%= f.radio_button :role, 'volunteer', class: 'form control' %>
      <%= f.label :role, 'Other/Volunteer', value: 'qwer', class: 'same-line' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= f.label :notes, 'Please describe your specific tier and any medical needs. For example, if you need ' \
          'specific amenities (electricity for a CPAP, AC for a heat-related condition) or a ' \
          'specific cabin/room/bed (cabin with a wheelchair ramp, room with windows)' %>
      <%= f.text_area :notes, class: 'form control' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= f.label :privacy, 'Please hide my name from my Friends & Family:', class: 'same-line' %>
      <%= f.check_box :privacy %>
      <p style="font-size: 85%">If you would like to publicly hide your name from any reservations that you may make,
        please check this box. If you are OK with registered Friends & Family to see your name, un-check this box.</p>
    </div>
  </div>

  <% if is_admin? %>
    <div class="row admin alert-warning">
      <h4>Administrators Only</h4>
      <div class="col-md-5">
        <div class="field">
          <%= f.label :tier_id, 'Admin Approved Tier' %>
          <%= f.collection_select :tier_id, Tier.all, :id, :full_label, :include_blank => true, class: 'form control' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-md-center">
    <div class="col-md-2">
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
