<%= render 'layouts/status' %>

<h4 class="mt-4">User profile</h4>
<div class="row">
  <div class="col border rounded bg-light">
    <%= form_for(@user) do |f| %>
      <div class="row">
        <%= render 'layouts/error_messages' %>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :name %><br>
          <%= f.text_field :name, :maxlength => 60 %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :email %>
          <%= f.email_field :email, :maxlength => 255, class: '' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :phone, 'Phone Number' %>
          <%= f.text_field :phone, class: 'form control' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <%= f.label :role, 'Your tier for this event' %>
        </div>
      </div>

      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'medical', class: 'form control' %>
          <%= f.label :role, 'Medical', value: 'what', class: 'same-line' %>
        </div>
      </div>
      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'planner', class: 'form control' %>
          <%= f.label :role, 'Coordinator/Planner', value: 'what', class: 'same-line' %>
        </div>
      </div>
      <div class="row">
        <div class="col-11 offset-1">
          <%= f.radio_button :role, 'volunteer', class: 'form control' %>
          <%= f.label :role, 'Other/Volunteer', value: 'qwer', class: 'same-line' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <%= f.label :notes, 'Please describe your specific tier and any medical needs. For example, if you need ' \
          'specific amenities (electricity for a CPAP, AC for a heat-related condition) or a ' \
          'specific cabin/room/bed (cabin with a wheelchair ramp, room with windows)' %>
          <%= f.text_area :notes, class: 'form control' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <%= f.label :privacy, 'Please hide my name from my Friends & Family:', class: 'same-line' %>
          <%= f.check_box :privacy %>
          <p style="font-size: 85%">If you would like to publicly hide your name from any reservations that you may
            make,
            please check this box. If you are OK with registered Friends & Family to see your name, un-check this
            box.</p>
        </div>
      </div>

      <% if is_admin? %>
        <div class="row admin alert-warning">
          <h4>Administrators Only</h4>
          <div class="col-md-5">
            <div class="field">
              <%= f.label :tier_id, 'Admin Approved Tier' %>
              <%= f.collection_select :tier_id, Tier.all, :id, :full_label, :include_blank => true, class: 'form control' %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-2 mb-2">
          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
