<div class="row pt-3">
  <div class="col-md-12">
    <h3>user registrations</h3>
  </div>
</div>

<div class="row pt-3">
  <div class="col-6 offset-3">
    <%= link_to instants_path(Instant.find_by(name: Instant::INSTANT_REGISTRATIONS_CLOSED).id), :method => :get do %>
      <button type="button" class="btn btn-info w-100">Close Registrations</button>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light border rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchContent" aria-controls="navbarSearchContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSearchContent">
      <ul class="navbar-nav me-auto">
        <%= form_tag registrations_path, :class => "d-flex", :remote => true, :method => 'get', :id => 'registrations_search' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control me-2' %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= submit_tag "go", :name => nil, :class => 'btn btn-outline-success' %>
        <% end %>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">sort...</a>
          <ul class="dropdown-menu">
            <li><%= sortable 'name', 'a-z', 'asc' %></li>
            <li><%= sortable 'name', 'z-a', 'desc' %></li>
            <li><%= sortable 'requested_tier', 'a-z', 'asc' %></li>
            <li><%= sortable 'requested_tier', 'z-a', 'desc' %></li>
            <li><%= sortable 'approved_tier', 'asc', 'asc' %></li>
            <li><%= sortable 'approved_tier', 'desc', 'desc' %></li>
            <li><%= sortable 'created_at', 'asc', 'asc' %></li>
            <li><%= sortable 'created_at', 'desc', 'desc' %></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="row mt-3">
  <div id="registrations" class="col-md-12">
    <%= render 'registrations' %>
  </div><!-- end content column-->
</div><!-- end content row-->

*<strong>Confirmed
  Planners:</strong> The email address tied to this account matches one on the planners list and the user was automatically approved into the planners tier
