<div class="row pt-3">
  <div class="col-md-12">
    <h3>user registrations</h3>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light border rounded">
  <a class="navbar-brand" href="#">Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearchContent" aria-controls="navbarSearchContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSearchContent">
      <ul class="navbar-nav mr-auto">
        <%= form_tag registrations_path, :class => "form-inline my-2 my-lg-0", :remote => true, :method => 'get', :id => 'registrations_search' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control form-control-sm ' %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= submit_tag "go", :name => nil, :class => 'btn btn-primary btn-sm ml-2' %>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sort...</a>
          <div class="dropdown-menu">
            <%= sortable 'name', 'a-z', 'asc' %>
            <%= sortable 'name', 'z-a', 'desc' %>
            <%= sortable 'role', 'a-z', 'asc' %>
            <%= sortable 'role', 'z-a', 'desc' %>
            <%= sortable 'tier_id', 'asc', 'asc' %>
            <%= sortable 'tier_id', 'desc', 'desc' %>
            <%= sortable 'created_at', 'asc', 'asc' %>
            <%= sortable 'created_at', 'desc', 'desc' %>
          </div>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- end search nav -->


<div class="row mt-3">
  <div id="registrations" class="col-md-12 contentcolumn">
    <%= render 'registrations' %>
  </div><!-- end content column-->
</div><!-- end content row-->

*<strong>Confirmed
  Planners:</strong> The email address tied to this account matches one on the planners list and the user was automatically approved into the planners tier
