<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_xclick"/>
  <!-- TEST -->
<!--   <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> -->
  <!-- FnF -->
  <input type="hidden" name="business" value="ZJJPT64U2437J">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="<%= @reservation.accommodation.label %>">
  <input type="hidden" name="item_number" value="SKU: <%= sku(@reservation) %>">
  <input type="hidden" name="amount" value="<%= @reservation.price %>">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="button_subtype" value="services">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="no_shipping" value="2">
  <input type="hidden" name="rm" value="1">
  <input type="hidden" name="return" value="<%= user_reservations_url(current_user.id) %>">
  <input type="hidden" name="cancel_return" value="<%= user_reservations_url(current_user.id) %>">
  <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>
