<table class="table table-hover table-condensed admintable">
  <thead>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Accommodation</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
    <th>Reservation Date</th>
    <th>Payment Received</th>
    <th>Payment Method</th>
    <th>Payment received by</th>
    <th>Payment received on</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @reservations.each do |r| %>
    <tr data-item-id=<%= "#{r.id}" %> class="item">
      <td><%= r.id %></td>
      <td><%= r.user.name %></td>
      <td><%= r.accommodation.label %></td>
      <td><%= r.quantity %></td>
      <td><%= number_to_currency r.accommodation.price %></td>
      <td><%= number_to_currency r.price %></td>
      <td><%= r.created_at.strftime("%-d %b %Y %T %Z") %></td>
      <td><%= number_to_currency r.payment_amount %></td>
      <td><%= !r.payment_type.nil? ? r.payment_type.label : '' %></td>
      <td><%= !r.processed_by_user.nil? ? r.processed_by_user.name : '' %></td>
      <td><%= !r.paid_date.nil? ? r.paid_date.strftime("%-d %b %Y %T %Z") : '' %></td>
      <td>
        <% if r.paid_date.nil? %>
          <%= link_to 'record&nbsp;payment'.html_safe, admin_payment_reservation_path(r) %><br/>
        <% end %>
        <%= link_to 'delete', admin_delete_reservation_path(r), method: :delete, data: {confirm: 'Are you sure you want to delete this reservation?'} %>
        <% if r.note && !r.note.empty? %>
          <br>
          <a href="" data-toggle="modal" data-target="#note-<%= r.id %>">view note</a>
        <% end %>
      </td>
    </tr>

    <% if r.note && !r.note.empty? %>
      <!-- Modal -->
      <div class="modal fade" id="note-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reservation <%= r.id %> Note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= r.note %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-12">
    <%= paginate @reservations, remote: true %>
  </div>
</div>
