<div class="row">
  <div class="col bg-white border rounded p-3">
    <h3>Reservation confirmed... and... It's almost yours!</h3>
    Your reservation is on hold pending payment. If we don't receive payment
    by <%= instant_string(Instant::INSTANT_PAYMENT_DUE) %>, the hold on your reservation will be released. Please be
    nice and send your payment in early.
    <p>
    </p>
  </div>
</div>

<div class="row">
  <div class="col p-3">
    <h3>You have asked to reserve...</h3>
  </div>
</div>

<%= render 'accommodation' %>

<button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#noteModal">
  Add a note to your reservation
</button>

<!-- Note Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModal">Add a note to your reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please let us know anything needed about your reservation (you can edit this note later from your reservations
        page). Examples:
        <ul>
          <li>A paypal transaction ID (if you paid without clicking the button on this site)</li>
          <li>The name(s) on the PayPal transaction (if someone not you paid for the room or a portion of it)</li>
          <li>The name(s) of people or age(s) of children who are staying in the room with you</li>
        </ul>

        <%= form_for @reservation, :url => reservation_note_path(@reservation.id) do |f| %>
          <div class="row">
            <div class="col">
              <div class="field">
                <%= f.text_area :note, class: 'form control' %>
              </div>

              <div class="actions">
                <%= f.submit "Update Note", class: 'btn btn-primary mr-2' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col p-3">
    <h3>Now in order to keep it, you must pay us...</h3>
  </div>
</div>
<div class="row">
  <%= render('payment') %>
</div>

<div class="float-right">
  <%= button_to 'Cancel Reservation', { :controller => 'reservations', :action => "cancel", :id => @reservation.id, :prev => '/accommodations' }, data: { confirm: 'Are you sure you want to cancel? This will delete your reservation.' }, :method => :put, class: 'btn btn-primary mt-4', :onclick => "buttonClicked = true;" %>
</div>
