<h3 class="mt-3">reservation management</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light border rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchContent" aria-controls="navbarSearchContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSearchContent">
      <ul class="navbar-nav mr-auto">
        <%= form_tag admin_reservations_path, :style => 'width 100%;', :class => "d-flex", :remote => true, :method => 'get', :id => 'reservations_search' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control me-2' %>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= submit_tag "go", :name => nil, :class => 'btn btn-outline-success' %>
        <% end %>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">sort...</a>
          <ul class="dropdown-menu">
            <li><%= sortable 'user', 'a-z', 'asc' %></li>
            <li><%= sortable 'user', 'z-a', 'desc' %></li>
            <li><%= sortable 'accommodation', 'a-z', 'asc' %></li>
            <li><%= sortable 'accommodation', 'z-a', 'desc' %></li>
            <li><%= sortable 'quantity', 'asc', 'asc' %></li>
            <li><%= sortable 'quantity', 'desc', 'desc' %></li>
            <li><%= sortable 'price', 'asc', 'asc' %></li>
            <li><%= sortable 'price', 'desc', 'desc' %></li>
            <li><%= sortable 'paid_date', 'asc', 'asc' %></li>
            <li><%= sortable 'paid_date', 'desc', 'desc' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav><!-- end search nav -->

<div id="reservations" class="contentcolumn mt-3">
  <%= render 'reservations' %>
</div><!-- end content column-->
